##############################################
#   LE WAGON BASE
#############################################
# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

############################################
#  IN_SYNC SPECIFIC BASE
#############################################

#Visualisation
matplotlib==3.6.2

#Video stream management
opencv-python==4.6.0.66

#Deep Learning
tensorflow==2.11.0
